<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img skew">
                            <a class="home" href="/">
                                LOGO
                            </a>
                        </div>
                    </div>

                    <div class="col-xl-8 col-lg-6 skew">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="#">Industrial automation</a></li>
                                    <li><a href="#">Digital transformation</a></li>
                                    <li><a href="#">Outsourcing</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">knowledge hub</a></li>
                                    <li><a href="#">Careers</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 skew">
                        <a class="contact-us" href="/">
                            Contact us
                        </a>
                    </div>

                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>